<a href="https://colab.research.google.com/github/vicky41298/Telephone_Directory/blob/main/Task_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###### Assessment

###### I am going to provide two .csv files , you are supposed to work on them and have to provide solutions to the following problems

###### import necessary libraries

In [1]:
import pandas as pd
import numpy as np

###### merge those two csv files (after getting as dataframes, get them as a single dataframe)

In [5]:
df1=pd.read_csv("college_1.csv")
df2=pd.read_csv("college_2.csv")
print(df1.shape,df2.shape)

(84, 7) (35, 9)

In [6]:
print(df1.isna().sum())
df1.head(2)

Name                 0
python               0
mysql                0
Previous Geekions    0
CodeKata Score       0
Department           0
Rising               0
dtype: int64

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0

In [7]:
print(df2.isna().sum())
df2.tail(2)

Name                      0
python                    0
python_en                 0
mysql                     0
computational_thinking    0
Previous Geekions         0
CodeKata Score            0
Department                0
Rising                    0
dtype: int64

,Name,python,python_en,mysql,computational_thinking,Previous Geekions,CodeKata Score,Department,Rising
33,XY Z,-1,20,-1,-1,0,0,Computer Science and Engineering,0
34,Hariharan,-1,-1,-1,0,0,0,Computer Science and Engineering,0

In [8]:
df_m=pd.concat([df1,df2],ignore_index=True)
print(df_m.isna().sum())

Name                       0
python                     0
mysql                      0
Previous Geekions          0
CodeKata Score             0
Department                 0
Rising                     0
python_en                 84
computational_thinking    84
dtype: int64

###### Take each csv file , split that csv file into multiple categories (example csv files are added in the repo)

###### consider if the codekata score exceeds 15000 points(present week) then make a csv on those observations as Exceeded expectations.csv

###### if  10000<codekata score<15000   (Reached_expectations.csv)

###### if  7000<codekata score<10000   (Needs_Improvement.csv)

###### if  codekate score < 7000        (Unsatisfactory.csv)

In [10]:
Reached_expectations = df_m.loc[ (df_m["CodeKata Score"]>10000) & (df_m["CodeKata Score"]<15000) ]
Needs_Improvement = df_m.loc[ (df_m["CodeKata Score"]>7000) & (df_m["CodeKata Score"]<10000) ]
Unsatisfactory = df_m.loc[ df_m["CodeKata Score"]<7000 ]

###### Average of previous week geekions vs this week geekions (i.e Previous Geekions vs CodeKata Score)

In [12]:
print(df_m["Previous Geekions"].mean())
print(df_m["CodeKata Score"].mean())

3842.3529411764707
4051.764705882353

###### No of students participated

In [13]:
print(df_m.shape[0])

119

###### #Average completion of python course or my_sql or python english or computational thinking

In [14]:
print("Average completion of python course : ", df_m["python"].mean())
print("Average completion of my_sql : ", df_m["mysql"].mean())
print("Average completion of python english : ", df_m["python_en"].mean())
print("Average completion of computational thinking : ",df_m["computational_thinking"].mean())

Average completion of python course :  54.35294117647059
Average completion of my_sql :  23.5
Average completion of python english :  29.65714285714286
Average completion of computational thinking :  2.2

###### rising star of the week (top 3 candidate who performed well in that particular week)

In [15]:
df_m.sort_values(by="Rising",ascending=False).head(3)

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
92,shifak N,58.0,0.0,5180,8320,Electronics and Electrical Engineering,3140,0.0,0.0
102,Narasimhan Y L,-1.0,0.0,4800,6800,Computer Science and Engineering,2000,-1.0,0.0
86,Ganesh Ramkumar R,-1.0,24.0,8790,10790,Computer Science and Engineering,2000,55.0,6.0

###### Shining stars of the week (top 3 candidates who has highest geekions)

In [16]:
df_m.sort_values(by="Previous Geekions",ascending=False).head(3)

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0,NaN,NaN
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0,NaN,NaN
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0,NaN,NaN

###### Department wise codekata performence (pie chart)

In [17]:
import plotly.express as px
fig = px.pie(df_m ,values='CodeKata Score', names='Department')
fig.show()

###### Department wise toppers (horizantal bar graph or any visual representations of your choice)

In [18]:
df_m.groupby("Department").max()["CodeKata Score"]

Department
Computer Science and Engineering             24500
Electronics and Communication Engineering    10040
Electronics and Electrical Engineering       19400
Name: CodeKata Score, dtype: int64

In [19]:
df_dept=df_m.groupby("Department").max()["CodeKata Score"].reset_index()

In [20]:
df_dept

                                  Department  CodeKata Score
0           Computer Science and Engineering           24500
1  Electronics and Communication Engineering           10040
2     Electronics and Electrical Engineering           19400

In [21]:
fig = px.bar(df_dept,x="Department",y="CodeKata Score",title="Department wise top score")
fig.show()